@font-face {
  font-family: "Athar";
  src: url(fonts/Reiswar.ttf);
}
@font-face {
  font-family: "Zoya";
  src: url(fonts/Xthlx.otf);
}
@font-face {
  font-family: "Huda";
  src: url(fonts/as.ttf);
}
@font-face {
  font-family: "Mahboob";
  src: url(fonts/zero\ hour.otf);
}
@font-face {
  font-family: "Punit";
  src: url(fonts/Univox.otf);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: #000;
}

::-webkit-scrollbar{
  display: none;
}
/* ::-webkit-scrollbar {
  width: 6px;
  
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey; 
  border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
  background: rgb(255, 73, 1); 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; 
} */




.loader{
  background-color: #000;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s ease;
  overflow: hidden;
}
.loader h2 span{
  display: inline-block;
  color: #fff;
  font-weight: lighter;
  font-family: "Mahboob";
}

.reveal .parent {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-y: hidden;
}

.reveal .parent .child {
  display: block;
}

.parent .child span {
  display: inline-block;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .home-img video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.826), transparent);
}
/* .home-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 1;
} */

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  width: 100%;
  height: 100px;
}

#nav a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
  font-family: "Athar";
  color: rgb(255, 255, 255);
  z-index: 2;
}

#nav a:hover {
  color: rgb(188, 187, 187);
}
#nav a:hover::after {
  width: 100%;
}

.row {
  top: 22vw;
  position: relative;
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  color: rgb(255, 255, 255);
  padding: 0 4.5vw;
  line-height: 1.2;
  padding-right: 12vw;
  z-index: 3;
}

.row h1 {
  position: absolute;
  bottom: 20px;
  left: 4%;
  font-size: 10vw;
  font-weight: 300;
  font-family: "Huda";
}

.row .text {
  margin-top: 20vw;
}

.row h5 {
  font-size: 11px;
  opacity: 0.6;
  font-weight: 500;
}

.row:nth-child(3) {
  margin-top: 0;
}

.text .reveal {
  color: #ffffff;
  font-size: 15px;
    font-family: "Athar";
}
.non-vis {
  position: relative;
  z-index: 2;
}


.header__button {
  z-index: 200;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid rgb(255, 55, 0);
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 20px;
  outline: none;
  animation-duration: 300ms;
  animation-timing-function: ease;
}

.header__button[data-open="true"] {
  background-color: transparent;
  animation-name: scale;
  border: 5px solid rgb(255, 77, 0);
}

.header__button[data-open="false"] {
  transition: background-color 250ms linear;
}

@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(100%);
  }
}

.header__nav {
  background: linear-gradient(to top, #000000fb, #00000000);
  backdrop-filter: blur(20px);
  position: fixed;
  overflow: hidden;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  clip-path: circle(var(--radius) at calc(100% - 55px) 47px);
}

.header__nav[data-active="true"] {
  visibility: visible;
}

.header__menu {
  padding: 0;
  margin: 0;
}

.header__menu > .header__menu-item {
  font-size: 12vh;
}

.header__menu > .header__menu-item:not(:last-of-type) {
  margin-bottom: 0em;
}

.header__menu-item a {
  letter-spacing: 1px;
  font-weight: 100;
  color: #ffffff;
  font-family: "Athar";
  text-decoration: none;
  transition: color 0.3s ease, letter-spacing 0.3s ease;
}

.header__menu-item a:hover {
  color: #b8b8b8;
  letter-spacing: 2px;
  border-bottom: 2px solid #b8b8b8; /* Add the border-bottom on hover */
}
/*------------------music css---------------*/
.soundbutton {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  cursor: pointer;
  width: 30px;
  transition: 0.25s ease;
  z-index: 99;
}
.soundbutton.paused {
  opacity: .25;
}
/*-----------------music css------------------*/


.page2 {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  overflow: hidden;
}

.page2 .page2-top {
  height: 100px;
  width: 100%;
  padding: .6vw 3vw;
  margin-top: 30px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.page2 .page2-top h3 {
  font-size: 1.7vw;
  font-weight: lighter;
  font-family: "Athar";
  letter-spacing: -.5px;
  color: #ffffff;
}

.page2 .page2-top .first-text {
  overflow: hidden;
}

.page2 .page2-bottom {
  height: calc(100vh - 100px - 30px);
  width: 100%;
  overflow: hidden;
}

.page2 .page2-bottom .btm-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  overflow: hidden;
}

.page2 .page2-bottom .btm-text h2 .up {
  overflow: hidden;
  color: #ffffff;
  
}

.first-text a{
  text-decoration: none;
  font-family: "Athar";
  font-size: 25px;
  color: rgb(255, 77, 0);
}
.first-text a:hover{
  color: gray;
}
.page2 .page2-bottom .btm-text h2 span {
  font-size: 4.45vw;
  font-weight: lighter;
  line-height: 1;
  letter-spacing: -1px;
  display: inline-block;
  overflow: hidden;
}





















































@media only screen and (max-width: 768px) {
  .counter {
    position: fixed;
    left: 150px;
    bottom: 120px;
    display: flex;
    height: 100px;
    font-size: 80px;
  }
  .row {
    top: 80vw;
    gap: 10px;
  }

  .row h1 {
    left: 6%;
    font-size: 16vw;
    font-weight: 300;
    bottom: 90px;
  }
  #nav a {
    font-size: 20px;
  }
  .row .text {
    margin-top: 60vw;
  }
  .text .reveal {
    font-size: 16px;
  }
  #nav a,
  .header__button {
    top: 18px;
  }

  .header__menu-item a {
    letter-spacing: 3px;
    font-weight: 300 !important;
    color: #ffffff;
    font-size: 60px;
    text-decoration: none;
  }
  .soundbutton {
    bottom: 8vh;
    right: 8vw;
    width: 40px;
  }



















  .page2 {
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    overflow: hidden;
  }
  
  .page2 .page2-top {
    height: 100px;
    width: 100%;
    padding: .6vw 3vw;
    margin-top: 30px;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
  
  .page2 .page2-top h3 {
    font-size: 3.7vw;
    font-weight: lighter;
    font-family: "Athar";
    letter-spacing: -.5px;
    color: #ffffff;
  }
  
  .page2 .page2-top .first-text {
    overflow: hidden;
  }
  
  .page2 .page2-bottom {
    height: calc(100vh - 100px - 30px);
    width: 100%;
    overflow: hidden;
  }
  
  .page2 .page2-bottom .btm-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    overflow: hidden;
  }
  
  .page2 .page2-bottom .btm-text h2 .up {
    overflow: hidden;
    color: #ffffff;
    
  }
  
  .first-text a{
    text-decoration: none;
    font-family: "Athar";
    font-size: 25px;
    color: rgb(255, 77, 0);
  }
  .first-text a:hover{
    color: gray;
  }
  .page2 .page2-bottom .btm-text h2 span {
    font-size: 8.45vw;
    font-weight: lighter;
    line-height: 1;
    display: inline-block;
    overflow: hidden;
  }
  
}
